extends layout

block content
  div#content
  h1= title
  p #{title}
  p #{lga}
  <script type="text/jsx" src="/../js/mapView.js"> </script>
  <script type="text/jsx" src="/../js/searchForm.js"> </script>
  <script type="text/jsx" src="/../js/scheduleView.js"> </script>
  <script type="text/jsx" src="/../js/nearbyWasteFacility.js"></script>
  <script type="text/jsx" src="/../js/instaSearch.js"> </script>
  

